nav {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
}

nav a {
    color: white;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}


nav a:hover {
    color: #1c1c1c;
    background-color: #1486d9;
    transition: background-color 0.4s ease;
}

footer {
    background: #1a252f;
    color: white;
    padding: 20px;
    text-align: center;
}

a:hover {
    color: #183686;
}
