nav {
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #1c1c1c;
    background-color: #196288;
    transition: background-color 0.3s ease;
}

footer {
    background: #1a252f;
    color: white;
    padding: 20px;
    text-align: center;
}

a:hover {
    color: #183686;
}
